---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const cv = (await getCollection("cv"))[0].data;
const experiences = (await getCollection("experience")).sort((a, b) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf());
---

<BaseLayout title={cv.title} sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    {cv.profile}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    {
      cv.education.map(item => (
        <TimeLineElement
          title={item.title}
          subtitle={item.subtitle}
        />
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    {
      experiences.map(item => (
        <a href={`/experience/${createSlug(item.data.title, item.slug)}`}>
          <TimeLineElement
            title={item.data.title}
            subtitle={`${new Date(item.data.startDate).toLocaleDateString()} - ${item.data.endDate ? new Date(item.data.endDate).toLocaleDateString() : 'Present'} at ${item.data.company}, ${item.data.location}`}
          >
            <ul class="list-disc ml-4">
              {item.data.bullets.map(bullet => (
                <li>{bullet}</li>
              ))}
            </ul>
          </TimeLineElement>
        </a>
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {
      cv.certifications.map(item => (
        <li>
          <a href={item.url} target="_blank"> {item.name}</a>
        </li>
      ))
    }
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {
      cv.skills.map(item => (
        <li>{item}</li>
      ))
    }
  </ul>
</BaseLayout>
