---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { getCollection } from "astro:content";

const cv = (await getCollection("cv"))[0].data;
---

<BaseLayout title={cv.title} sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    {cv.profile}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    {
      cv.education.map(item => (
        <TimeLineElement
          title={item.title}
          subtitle={item.subtitle}
        />
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    {
      cv.experience.map(item => (
        <TimeLineElement
          title={item.title}
          subtitle={item.subtitle}
        >
          {item.details}
        </TimeLineElement>
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {
      cv.certifications.map(item => (
        <li>
          <a href={item.url} target="_blank"> {item.name}</a>
        </li>
      ))
    }
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {
      cv.skills.map(item => (
        <li>{item}</li>
      ))
    }
  </ul>
</BaseLayout>
