---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);

const projects = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_projects = projects.slice(0, 3);

const index = (await getCollection("index"))[0].data;
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">{index.greeting}</div>
    <div class="text-5xl font-bold">{index.name}</div>
    <div class="text-3xl py-3 font-bold">{index.title}</div>
    <div class="py-2">
      <text class="text-lg" set:html={index.introduction} />
    </div>
    <div class="mt-8">
      <a class="btn" href={index.connect_button_url} target="_blank"> {index.connect_button_text}</a>
      <a href={index.template_button_url} target="_blank" class="btn btn-outline ml-5">
        {index.template_button_text}
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">{index.projects_title} {"</>"}</div>
  </div>

  {
    last_projects.map(project => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          desc={project.data.description}
          url={"/projects/" + createSlug(project.data.title, project.slug)}
          target="_self"
          badge={project.data.badge}
        />
        <div class="divider my-0"></div>
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">{index.blog_title}</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
