---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))[0].data;
---

<BaseLayout title = {projects.title} sideBarActiveItemID="projects">
    {
        projects.sections.map((section, index) => (
            <>
                <div>
                    <div class:list={["text-3xl w-full font-bold mb-5", {"mt-10": index > 0}]}>{section.header}</div>
                </div>
                {
                    section.projects.map(project => (
                        <>
                            <HorizontalCard
                                title={project.title}
                                img={project.img}
                                desc={project.desc}
                                url={project.url}
                                badge={project.badge}
                            />
                            <div class="divider my-0"></div>
                        </>
                    ))
                }
            </>
        ))
    }
</BaseLayout>
