---
import ExperienceLayout from "../../layouts/ExperienceLayout.astro";
import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug";
import { filterDrafts } from "../../lib/content-config";

export async function getStaticPaths() {
  const allExperiences = await getCollection("experience");
  const experiences = filterDrafts(allExperiences);
  return experiences.map((experience) => ({
    params: { slug: createSlug(experience.data.title, experience.slug) },
    props: { experience },
  }));
}

const { experience } = Astro.props;
const { Content } = await experience.render();
---

<ExperienceLayout
  title={experience.data.title}
  company={experience.data.company}
  location={experience.data.location}
  startDate={experience.data.startDate}
  endDate={experience.data.endDate}
  image={experience.data.image}
  bullets={experience.data.bullets}
>
  <ul class="list-disc ml-4 mb-4">
    {experience.data.bullets.map(bullet => (
      <li>{bullet}</li>
    ))}
  </ul>
  <Content />
</ExperienceLayout>
