---
import type { ExperienceSchema } from "../lib/content-config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends ExperienceSchema {}

const { title, company, location, startDate, endDate, image } = Astro.props;
dayjs.extend(localizedFormat);

const displayStartDate = dayjs(startDate).format("MMMM YYYY");
const displayEndDate = endDate ? dayjs(endDate).format("MMMM YYYY") : "Present";
const dateRange = `${displayStartDate} - ${displayEndDate}`;

import { Image } from "astro:assets";
---

<BaseLayout title={title} description={`${title} at ${company}`} image={image}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {image && <Image width={750} height={422} format="webp" src={image} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      <div class="text-lg font-semibold text-gray-600 mb-2">{company}</div>
      <div class="text-md text-gray-500 mb-2">{location}</div>
      <time class="text-md text-gray-500">{dateRange}</time>
      <div class="divider my-4"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
